<div class="container">
	<div class="map" id="map"></div>
	<div class="review">
		<div class="review__header">
			<span class="review__icon"></span>
			<span class="review__tittle" id="location"></span>
			<button class="review__close"></button>
		</div>
		<ul class="review__list">
		</ul>
		<form class="form">
			<p class="form__tittle">
				Ваш отзыв
			</p>
			<input class="form__input" type="text" name="name" placeholder="Ваше Имя">
			<input class="form__input" type="text" name="place" placeholder="Укажите место">
			<textarea class="form__review" name="message" placeholder="Поделитесь впечатлениями"></textarea>
			<button class="review__add" type="submit">Добавить</button>
		</form>
	</div>
</div>


